.banner {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /*height: 75%;*/
  padding: 250px 0;
  width: 100%;
  margin-bottom: -40px;
}

.banner-container {
  margin-left: 10%;
  justify-content: center;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 72px;
  font-weight: bold;
}

.banner p {
  font-size: 27px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  margin: 0;
  margin-left: 2%;
}

.btn-fusia-banner {
  background-color: #9b8dc1;
  color: white;
  padding: 10px 15px;
  border-radius: 4px;
  display: inline-block;
  margin: 5px;
}

.btn-fusia-banner:hover {
  background-color: #b1afaf;
  color: white;
}

